<form action="/login" method="POST">
        <h1>{{> message}}</h1>
        <h1>Login</h1>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="Login" class="btn btn-primary">Login</button>
</form>

<p>Don't have an account? <a href='/register'>Register</a></p>

