<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>

    <div class="col-sm">
      <h1>Create Post</h1>
      <form action="/create-post" method="POST"> 
        <div class="form-group">
          <label for="caption">Caption:</label>
          <input type="text" id="caption" name="caption" class="form-control">
        </div>
        <div class="form-group">
          <label for="image_url">Image URL:</label>
          <input type="text" id="image_url" name="image_url" class="form-control" required>
        </div>
        <h4>Recipe Information</h4>
        <label for="title">Recipe Name:</label>
        <input type="text" id="title" name="title" class="form-control">

        <label for="title">Recipe Body:</label>
        <input type="textarea" id="body" name="body" class="form-control">
        
        <button type="submit" class="btn btn-primary" style="margin-top:10px;">Submit</button>
      </form>
    </div>

    <div class="col-sm">
    </div>
  </div>
</div>
