{{> head}}
{{> nav}}

<h1>{{title}}</h1>

<button>Post your own version!</button>

<p>_ likes </p>

<p>_ comments</p>

<p>_ reposts</p>

<p>Created by: {{author}}</p>
{{!-- pfp --}}
<img src="">
<p>{{date_created}}</p>


<p>Serves _</p>
<p>Prep time, cook time</p>

<h3>Descirption:</h3>
<p>{{body}}</p>

{{!-- pull all recipe information from db, format in an organized way --}}

{{> footer}}