{{> head}}
{{> nav}}

<h1>Recipe Title</h1>

<button>Post your own version!</button>

<p>_ likes </p>

<p>_ comments</p>

<p>_ reposts</p>

<p>Created by:</p>
{{!-- pfp --}}
<img src="">
<h4>username</h4>


<p>Serves _</p>
<p>Prep time, cook time</p>

{{!-- pull all recipe information from db, format in an organized way --}}

{{> footer}}