<!-- TODO: create a HTML form that takes two input fields: username and password -->
<div class="container">
  <div class="row">

    <div class="col-sm-3">
    </div>

    <div class="col-sm-6">
        <h1>Register</h1>
        <form action="/register" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <label for="profile_pic">Profile Picture (enter URL):</label>
                <input type="text" id="profile_pic">
            </div>
            <div>
                <button type="Register" class="btn btn-primary">Register</button>
            </div>
        </form>
        <p>Already have an account? <a href='/login'>Login</a></p>
    </div>
    <div class="col-s3">
    </div>
  </div>
</div>