{{!-- pfp --}}
<div class="card">
    <div class="card-body">
    <div class="row">
    <div class="col text-left" id="profile-picture">
        {{!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkr4HamH6evM84k6_hAyVYfJadO6cDUb7PdV-XFY289A&s" class="img-thumbnail" height="100px" width="100px"
        style="border-radius: 50%;"> --}}
        <img src={{profile_picture}} class="img-thumbnail" height="100px" width="100px"
        style="border-radius: 50%;">
    </div>
      <div class="col text-left">
        <h1>{{username}}</h1>
        <p>_ followers • _ following</p>
      </div>
      <div class="col text-left"></div>
      <div class="col text-left"></div>
      <div class="col text-right">
        <button id="follow-button" class="btn btn-lg btn-primary">Follow</button>
      </div>
    </div>
  </div>
</div>
<h1>DISPLAY FEED HERE</h1>
<p>take feed code from home.hbs, implement when we fix post db system</p>
{{!-- loop to display each post from a user --}}
{{!-- {{#each}}

{{/each}} --}}

{{> footer}} 