{{> head}}
{{> nav}}
{{!-- pfp --}}
<img src="">

<h1>Username</h1>

<button>Follow</button>

<p>_ followers</p>

<p>_ following</p>

{{!-- loop to display each post from a user --}}
{{!-- {{#each}}

{{/each}} --}}

{{> footer}}